* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button,
input {
  font-family: inherit;
}

.light-theme {
  min-height: 100vh;
  background-color: #f9f9f9;
}

.dark-theme {
  min-height: 100vh;
  background-color: #0f0f0f;
}
